<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClazzMapper">
    <!--班级分页查询-->
    <select id="list" resultType="com.example.pojo.Clazz">
        select c.id, c.name, c.room, c.begin_date, c.end_date, c.master_id, c.subject, c.update_time, e.name masterName,
        (case when begin_date > now() then '未开班' when now() > end_date then '已结课' else '在读中' end) status
        from clazz as c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%',#{name},'%')
            </if>
            <if test="begin !=null and end != null">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>

    <!--查询所有班级-->
    <select id="findAll" resultType="com.example.pojo.Clazz">
        select c.id, c.name, c.room, c.begin_date, c.end_date, c.master_id, c.subject, c.update_time, e.name masterName
        from clazz as c left join emp e on c.master_id = e.id
    </select>

    <!--新增班级-->
    <insert id="insert">
        insert into clazz(name, room, begin_date, end_date, master_id, subject, update_time) values(#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{updateTime})
    </insert>

    <!--根据id查询班级-->
    <select id="getById" resultType="com.example.pojo.Clazz">
        select c.id, c.name, c.room, c.begin_date, c.end_date, c.master_id, c.subject, e.name masterName
        from clazz as c left join emp e on c.master_id = e.id where c.id = #{id}
    </select>

    <!--根据id修改班级-->
    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date= #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null and subject != ''">subject = #{subject},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--根据id删除班级-->
    <delete id="deleteById">
        delete from clazz where id = #{id}
    </delete>

</mapper>
